:root {
   --orengeColor: #f4623a;
   --smallFontColor: #c7cfcd;
   --downloadColor: #212529;
   --footerColor: #f8f9fa;
   --sarvicesfontcolor: #6c757d;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
}
.nav-item {
   font-weight: bold;
   color: var(--smallFontColor);
}
.heroSection {
   background-image: url(/assets/images/Banner.png);
   height: 95vh;
}
.banner {
   height: 95vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
}
.banner h1 {
   width: 750px;
   font-size: 4rem;
   color: white;
}
.banner p {
   width: 750px;
   font-size: 1.4rem;
   color: var(--smallFontColor);
}
.btn {
   margin: 25px auto;
   border-radius: 100px;
   padding: 15px 25px;
   background-color: var(--orengeColor);
   color: white;
   border: none;
   font-weight: bold;
}
.box {
   margin: 25px auto;
   height: 4px;
   width: 52px;

   background-color: var(--orengeColor);
}
.startSection {
   background-color: var(--orengeColor);
   height: 70vh;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}
.box2 {
   margin: 25px auto;
   height: 4px;
   width: 52px;

   background-color: white;
}
.startSection p {
   width: 700px;
   font-size: 1.1rem;
   text-align: center;
   margin: 0 auto;
}
.button2 {
   margin: 30px auto;
   border-radius: 100px;
   padding: 15px 25px;
   background-color: white;
   color: black;
   border: none;
   font-weight: bold;
}
.sarviceSection {
   height: 70vh;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.sarviceSection p {
   width: 200px;
   text-align: center;
   margin: 0 auto;
   font-size: 1.1rem;
   color: var(--sarvicesfontcolor);
   font-weight: 500;
}
.sarviceSection .row {
   padding: 40px 0;
}
.sarviceSection .img {
   width: 40px;
}
.imgdiv {
   height: 50px;
}
.gallerySection {
   overflow: hidden;
}

.gallerySection .col-sm-12,
.gallerySection .col-md-6,
.gallerySection .col-lg-3 {
   padding: 0;
}
.downloadSection {
   background-color: var(--downloadColor);
   color: white;
   height: 50vh;
   align-items: center;
   text-align: center;
   display: flex;
   justify-content: center;
}
.downloadSection h2 {
   font-size: 2.2rem;
}
.button3 {
   margin: 15px auto;
   border-radius: 100px;
   padding: 15px 25px;
   background-color: white;
   color: black;
   border: none;
   font-weight: bold;
}
